@page "/proveedores/nueva"
@page "/proveedores/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioProveedores _repositorio;
<h2>@_mensaje Proveedor</h2>
<EditForm Model="_proveedor" FormName="frmProveedor" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_proveedor.Nombre" />
            <ValidationMessage For="()=>_proveedor.Nombre" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCorreo" class="col-2 col-form-label">Correo</label>
        <div class="col-10">
            <InputText id="txtCorreo" class="form-control" @bind-Value="_proveedor.Correo" />
            <ValidationMessage For="()=>_proveedor.Correo" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtPrecio" class="col-2 col-form-label">Precio</label>
        <div class="col-10">
            <InputNumber id="txtPrecio" class="form-control" @bind-Value="_proveedor.Precio" />
            <ValidationMessage For="()=>_proveedor.Precio" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtClave" class="col-2 col-form-label">Clave</label>
        <div class="col-10">
            <InputText id="txtClave" class="form-control" @bind-Value="_proveedor.ClaveProducto" />
            <ValidationMessage For="()=>_proveedor.ClaveProducto" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Proveedor? _proveedor = new();


    protected override async Task OnInitializedAsync()
    {

        if (Id > 0)
        {
            _proveedor = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _proveedor!);
        }
        else
        {
            await _repositorio.Add(_proveedor!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/proveedores");
    }
}