@page "/ventas/nueva"
@page "/ventas/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator
@inject IRepositoriosVentas _repositorio
@inject IRepositorioInventarios _repoInventarios

<h2>@_mensaje Venta</h2>

<EditForm Model="_venta" FormName="frmVenta" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    @if (_showError)
    {
        <div class="alert alert-danger" role="alert">No hay suficiente producto en el inventario</div>
    }
    <div class="row mb-3">
        <label for="txtFechaHora" class="col-2 col-form-label">Fecha</label>
        <div class="col-10">
            <InputDate id="txtFechaHora" class="form-control" @bind-Value="_venta.FechaHora" readonly />
            <ValidationMessage For="()=>_venta.FechaHora" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCantidadVendida" class="col-2 col-form-label">Cantidad vendida</label>
        <div class="col-10">
            <InputNumber id="txtCantidadVendida" class="form-control" @bind-Value="_venta.CantidadVendida" />
            <ValidationMessage For="()=>_venta.CantidadVendida" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="IdPro" class="col-2 col-form-label">Producto</label>
        <div class="col-10">
            <InputSelect class="form-control" id="IdPro" @bind-Value="_venta.IdProducto">
                <option value="0" disabled="disabled">Seleccione un producto...</option>
                @foreach (Inventario inventario in _inventarios ?? [])
                {
                    <option value="@inventario.Id">@inventario.NombreProducto</option>
                }
            </InputSelect>
            <ValidationMessage For="()=>_venta.IdProducto   " />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Venta? _venta = new();
    private List<Inventario>? _inventarios;
    private bool _showError = false;

    protected override async Task OnInitializedAsync()
    {
        _inventarios = await _repoInventarios.GetAll();
        _venta.PrecioTotal = 0;
        if (Id > 0)
        {
            _venta = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            DateTime fechaActual = DateTime.Now;
            _venta.FechaHora = DateTime.Now;
            _mensaje = "Nueva";
        }
    }

    private async Task Guardar()
    {
        Inventario producto = await _repoInventarios.Get(_venta.IdProducto);
        int diferencia = producto!.CantidadDisponible - _venta.CantidadVendida;
        if (diferencia < 0)
        {
            _showError = true;
            return;
        }

        producto.CantidadDisponible -= _venta.CantidadVendida;
        _venta.PrecioTotal = producto.Precio * _venta.CantidadVendida;

        if (Id > 0)
        {
            await _repositorio.Update(Id, _venta!);
        }
        else
        {
            await _repositorio.Add(_venta!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/ventas", forceLoad: true);
    }
}
